body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-bottom: 80px;

}

section {
    position: static;
}

header {
    position: sticky;
    top: 0;
    background-color: #ecccde;
    padding: 20px;
    z-index: 1000;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ecccde;
    padding: 15px;
    text-align: center;
}

.profile-container {
    position: relative;
    margin: 20px;
}

.profile-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: orange;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.profile-img {
    width: 200px;
    border-radius: 50%;
    margin: 20px 0;
}


#home {
    margin: 20px;
}


nav a {
    text-decoration: none;
    margin: 0 15px;
    color: rgb(43, 18, 18);
    font-weight: bold;
}


nav a:hover {
    color: orange;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-container ul {
    text-align: left;
}




.education-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f0d3ef;
}

.education-table th {
    background-color: #d26db9;
    color: white;
    padding: 10px;
}

.education-table td {
    padding: 10px;
    border: 1px solid #bc6eb4;
    color: #333;
}


form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input,
button {
    margin: 10px 0;
    padding: 8px;
}


@media (max-width: 768px) {

    header {
        position: static;
       padding-bottom: 20px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 15px;
    }

    nav a {
        display: block;
        margin: 5px 0;
        padding: 10px;
        width: 80%;
        
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    nav a:last-child {
        border-bottom: none;
    }

    .profile-img {
        width: 120px;
    }

    body {
        font-size: 14px;
    }

    .video-container iframe {
        height: 250px;
    }
}